{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
<h4>Welcome to this OTR Stream server</h4>
<p>This is a secure way to send messages, just need to find a good way to your public key to a friend</p>
<p>Check the <a href="/client">client</a> to start sending messages</p>
<p>Check the <a href="https://github.com/Siedrix/otr-stream">github repo</a> to set up your own server or review the code</p>
{% endblock %}

{% block js %}{% endblock %}